# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual Environment
venv/
env/

# PyInstaller
*.manifest
*.spec

# IDE
.idea/
.vscode/

# Excel files
*.xls
*.xlsx
!example.xlsx  # 保留示例文件 